@using ParkInspect.WEB.Controllers
@{
    ViewBag.Title = "Home Page";
}

<h2>Overzicht pdf's</h2>

<div><table style="width: 100%">
         <th>Pdf naam:</th>
    @{
        foreach (var pdf in ViewBag.pdf)
        {


            <tr>
                
                <td>
                    @{ string x = Path.GetFileName(pdf);}
                    @Html.ActionLink(x, "Details", "Home", new {path = pdf}, null)

                </td>

                

            </tr>
        }
    }
</table></div>



